<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Outlined" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Sharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Two+Tone" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    @Styles.Render("~/Estilos/HomeUsuario/Favoritos.css")
    @Styles.Render("~/Estilos/HomeUsuario/Perfil.css")
    @Styles.Render("~/Estilos/HomeUsuario/Carrito.css")
    @Styles.Render("~/Estilos/HomeUsuario/Direcciones.css")
    @Styles.Render("~/Estilos/HomeUsuario/Pasarela.css")
    @Styles.Render("~/Estilos/HomeUsuario/Sucess.css")
    @Styles.Render("~/Estilos/HomeUsuario/Cancel.css")
    @Styles.Render("~/Estilos/Shared/HeaderPrincipal.css")
    @Styles.Render("~/Estilos/Shared/FooterPrincipal.css")
    @Styles.Render("~/Estilos/Shared/Navegacion.css")
    @Styles.Render("~/Estilos/Shared/Tarjetas.css")
    @Styles.Render("~/Estilos/Shared/ComboBox.css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css")
</head>
<body>

    <header>
        <button type="button" class="header-logo" onclick="ir_a('/HomePrincipal/Index')">
            <img class="navbar-brand" src="~/Imagenes/logo.png" alt="FloristeriaMillan.png" />
        </button>

        <div class="titulo-pagina">
            <label>
                @ViewBag.Title
            </label>
        </div>

        <div class="menu-usuario">
            <button type="button" class="boton-desplegar" onclick="desplegar()">
                <span class="material-icons-outlined" id="icono-despegable">
                    menu
                </span>
            </button>
            <button type="button" class="boton-contraer" onclick="contraer()">
                <span class="material-icons-outlined">
                    close
                </span>
            </button>
            <div class="menu">
                <div class="titulo-despegable">
                    @if (HttpContext.Current.Session["Usuario"] != null || HttpContext.Current.Session["Default"] != null)
                    {
                        FloristeriaMillan.Models.Usuarios usuario = (FloristeriaMillan.Models.Usuarios)HttpContext.Current.Session["UsuarioActual"];
                        <span class="material-icons-outlined">
                            account_circle
                        </span>
                        <label>
                            Hola, @usuario.nombreCli
                        </label>
                    }
                    else
                    {
                        System.Web.HttpContext.Current.Response.Redirect("/HomePrincipal/Index");
                    }
                </div>

                <button type="button" class="boton-menu sesion" onclick="ir_a('/HomeUsuario/Perfil')">
                    <span class="material-icons-outlined">
                        person
                    </span>
                    <i class="divisor"></i>
                    <label>
                        Perfil
                    </label>
                </button>

                <button type="button" class="boton-menu sesion" onclick="ir_a('/HomeLogin/Logout')">
                    <span class="material-icons-outlined">
                        logout
                    </span>
                    <i class="divisor"></i>
                    <label>
                        Salir
                    </label>
                </button>


                <button type="button" class="boton-menu" onclick="ir_a('/HomeUsuario/Favoritos')">
                    <span class="material-icons-outlined">
                        favorite
                    </span>
                    <i class="divisor"></i>
                    <label>
                        Favoritos
                    </label>
                </button>
                <button type="button" class="boton-menu" onclick="ir_a('/HomeUsuario/Carrito')">
                    <span class="material-icons-outlined">
                        shopping_cart
                    </span>
                    <i class="divisor"></i>
                    <label>
                        Carrito
                    </label>
                </button>
            </div>
        </div>
    </header>

    <div class="contenedor-navbar-navegacion" id="contenedor-navbar-navegacion">
        <nav class="navbar-navegacion">
            <ul class="contenedor-elementos-navbar" id="contenedor-elementos-navbar">
                <li class="elemento-navbar">
                    <button type="submit" class="buton-elemento-navbar" onclick="ir_a('perfil')">
                        <label class="titulo-elemento-navbar">
                            Perfil
                        </label>
                    </button>
                </li>
                <i></i>
                <li class="elemento-navbar">
                    <button type="submit" class="buton-elemento-navbar" onclick="ir_a('direcciones')">
                        <label class="titulo-elemento-navbar">
                            Direcciones
                        </label>
                    </button>
                </li>
                <i></i>
                <li class="elemento-navbar-active">
                    <button class="buton-elemento-navbar">
                        <span class="ri-home-smile-2-line"></span>
                    </button>
                </li>
                <i></i>
                <li class="elemento-navbar">
                    <button type="submit" class="buton-elemento-navbar" onclick="ir_a('favoritos')">
                        <label class="titulo-elemento-navbar" type="text" name="categoria">
                            Favoritos
                        </label>
                    </button>
                </li>
                <i></i>
                <li class="elemento-navbar">
                    <button type="submit" class="buton-elemento-navbar" onclick="ir_a('carrito')">
                        <label class="titulo-elemento-navbar">
                            Carrito
                        </label>
                    </button>
                </li>
            </ul>
        </nav>
    </div>

    <main>
        @RenderBody()
    </main>

    <footer>
        <div class="contenedor-footer">
            <div class="contenedor-logo">
                <img src="~/Imagenes/logo.png" alt="" />
                <label class="direccion">
                    CASA 5, Av. 5 MZ 28, San Jose la Pila, 52149 Metepec, Méx.
                </label>
            </div>
            <div class="contenedor-copy">
                <i class="linea-divisora"></i>
                <div class="contenedor-texto-copy">
                    <span class="material-icons-outlined">
                        copyright
                    </span>
                    <label class="texto-copy">
                        Floristeria Millan
                    </label>
                </div>
            </div>
            <div class="contenedor-linkbar">
                <nav class="linkbar">
                    <ul class="contenedor-items">
                        <li class="item">
                            <button class="link" type="button" onclick="ir_categoria('Ramos')">
                                <label>
                                    Ramos
                                </label>
                            </button>
                        </li>
                        <i class="lista-divisor"></i>
                        <li class="item">
                            <button class="link" type="button" onclick="ir_categoria('regala vida')">
                                <label>
                                    Regala vida
                                </label>
                            </button>
                        </li>
                        <i class="lista-divisor"></i>
                        <li class="item">
                            <button class="link" type="button" onclick="ir_a('index')">
                                <label>
                                    Inicio
                                </label>
                            </button>
                        </li>
                        <i class="lista-divisor"></i>
                        <li class="item">
                            <button class="link" type="button" onclick="ir_categoria('Arreglos')">
                                <label>
                                    Arreglos
                                </label>
                            </button>
                        </li>
                        <i class="lista-divisor"></i>
                        <li class="item">
                            <button class="link" type="button" onclick="ir_categoria('Accesorios')">
                                <label>
                                    Accesorios
                                </label>
                            </button>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="contenedor-redes">
                <label class="titlo-redes">
                    Siguenos
                </label>
                <div class="contenedor-logos-redes">
                    <button type="button" class="boton-logo-red" onclick="ir_a('https://www.facebook.com/profile.php?id=100053337534003')">
                        <span class="ri-facebook-fill"></span>
                    </button>
                    <button type="button" class="boton-logo-red" onclick="ir_a('https://www.instagram.com/millanfloristeria/')">
                        <span class="ri-instagram-line"></span>
                    </button>
                    <button type="button" class="boton-logo-red">
                        <span class="ri-whatsapp-line"></span>
                    </button>
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/HomeUsuario/Favoritos.js")
    @Scripts.Render("~/Scripts/HomeUsuario/Perfil.js")
    @Scripts.Render("~/Scripts/HomeUsuario/Carrito.js")
    @Scripts.Render("~/Scripts/HomeUsuario/Direcciones.js")
    @Scripts.Render("~/Scripts/HomeUsuario/Pasarela.js")
    @Scripts.Render("~/Scripts/HomeUsuario/Sucess.js")
    @Scripts.Render("~/Scripts/HomeUsuario/Cancel.js")
    @Scripts.Render("~/Scripts/Shared/HeaderPrincipal.js")
    @Scripts.Render("~/Scripts/Shared/FooterPrincipal.js")
    @Scripts.Render("~/Scripts/Shared/Navegacion.js")
    @Scripts.Render("~/Scripts/Shared/Tarjetas.js")
    @Scripts.Render("~/Scripts/Shared/ComboBox.js")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
